.banner-content{
  height: 730px;
}
.form-content{
  width: 420px;
  height: 439px;
}
.Logo-text{
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 176px;
  color: #FFFFFF;
}
.subtitle{
  color: #FFFFFF;
  width: 376px;
  height: 55px;
}
.form-content{
  background: rgba(2, 120, 122, 0.5);
  border-radius: 20px;
}
.form{
  width: 232px;
  height: 40px;
  border-radius: 5px;
}
.title-find{
  height: 260px;
}
.find-spot{
  font-weight: bold;
  color: #153351;
  font-size: 36px;
}
.find-best{
  font-weight: bold;
  color: #4ABBC7;
  font-size: 36px;
}
.div-card-school{
  margin-top: -460px;
}
