.banner-home {
  background-image: image-url('backgrounds/background-home.png');
  background-size: cover;
  height: 800px;
  margin-top: -150px;
}

.banner-home-bis{
  height: 730px;
  margin-top: -700px;
}

.banner-container {
  height: 100%;
}

.banner-container-bis{
  height: 90%;
  
}

.form-content{
  width: 420px;
  background-color: rgba(63, 198, 162, 0.3);
}









.start-date{
  width: 232px;
  height: 40px;
}
.end-date{
  width: 232px;
  height: 40px;
}
.placeholder-home::placeholder{
  color: white;
}
.placeholder-home:focus{
  outline: none;
}
.select-level{
  width: 232px;
  height: 40px;
}
.Logo-text{
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 176px;
  color: #FFFFFF;
  margin-top: 110px;
}
.btn-find:hover{
  background-color: #153351;
}

.title-find{
  height: 260px;
}
.find-spot{
  font-weight: bold;
  color: #153351;
  font-size: 36px;
}
.find-best{
  font-weight: bold;
  color: #4ABBC7;
  font-size: 36px;
}


.spot-card-home{
  height: 350px;
  width: 300px;
  position: relative;
  overflow: hidden;
  
  .img-spot{
    height: 250px;
    img{
      height: 100%;
    }
  }
}

.profite{
  height: 530px;
  width: 100%;
}


.flickity-viewport{
  width: 80% !important;
  margin: auto;
}

///// glider

.glider-next, .glider-prev {
  top: 50% !important;
} 

.tablist {
  display: none !important;
}

.glider-dot {
  display: none !important;
}


///// range
.range-wave {
  width: 470px;
  background-color: rgba(134, 255, 223, 0.3);
  padding: 15px;
  border-radius: 5px;
}
.date-choice{
  width: 470px;
  background-color: rgba(134, 255, 223, 0.3);
  padding: 15px;
  border-radius: 5px;
}

.rangeable-container {
  margin-top: 30px;
  width: 400px;
}


.rangeable-handle{
  border: none !important;
}

.rangeable-progress{
  background-color: #153351 !important;
  border-width: 0px !important;
  border-color: #4ABBC7 !important;
  height: 24x !important;

}

.rangeable-buffers {
  background-color: white !important;
  border-width: 0px !important;
  width: 2px !important;
  border-color: white !important;
}

.rangeable-track{
  background-color: white !important;
  border-radius: 0px !important;
  height: 2px !important;
}

.rangeable-tooltip {
  background-color: transparent !important;
  border: none;
  font-family: 'Roboto', sans-serif;
  line-height: 1rem;
  bottom: 100% !important;
  &::before{
    display: none;
  }
}

.pictos-range-wave{
  height: 30px;
}
