.banner{
  margin-top: -100px;
  position: relative;
  z-index: 0;
  height: 600px;
  .image{
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    img{
      height: 100%;
      max-width: none;
    }
  }
}
.name{
  position: relative;
  margin-top: -106px;
  z-index: 2;
}
.pictos{
  width: 90px;
}

.card-forecast{
  max-width: 980px;
}


.datas-content {
  // max-width: 100%;
}
.carte{
  overflow: hidden;
  position: relative;
  .img-content{
    height: 580px;
    position: relative;
    z-index: 0;
    img{

    }
  }
  .card-content{
    // position: absolute;
    // z-index: 1;
    // top: 0;
    .school-card{
      .card{
        height: 500px ;
        width: 350px ;
        .card-text{
          .text{
            h3{
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

}

.bg-cl{
  background-color: rgba(74, 187, 199, 0.2);
}
.bg-fo{
  background-color: rgba(74, 187, 199, 0.4);
}
//hover des i
.infos-block{
  transition: all 2s ease-in-out;
}

.infos-block{
  right: 4px;
  bottom: 4px;

  .infos-hover{
    display: none;
    opacity: 0;
    width: 0px;
    z-index: 99;
    transform-origin: bottom left;
    left: 4px;
    bottom: 0;
  }
}
.infos-block:hover{
  .infos-hover{
    display: block;
    opacity: 1;
    width: 200px;
    border: 1px solid #153351;
    color: #153351;
    border-radius: 5px;
  }
}
.school-content{
  padding: 0 !important;
}
.btn-card-school{
  border: 1px solid #153351;
  }
.surf-school-title{
  color:  #153351;
}
.distance-surf{
  color: #153351;
  font-size: 900;
}

//////anim card forecast

.card-forecast{

  .matching-forecast {
    background-color: rgb(211, 255, 211);
  }
}

