.banner{
  margin-top: -100px;
  position: relative;
  z-index: 0;
  height: 650px;
  .image{
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    img{
      height: 100%;
      max-width: none;
    }
  }
}
.name{
  position: relative;
  z-index: 2;
}
.pictos{
  width: 90px;
}

.datas-content {
  // max-width: 100%;
}
.carte{
  overflow: hidden;
  position: relative;
  .img-content{
    height: 580px;
    position: relative;
    z-index: 0;
    img{
      
    }
  }
  .card-content{
    position: absolute;
    z-index: 1;
    top: 0;
    .school-card{
      .card{
        height: 500px;
        width: 350px;
        .card-text{
          .text{
            h3{
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
  
}

.bg-cl{
  background-color: rgba(74, 187, 199, 0.2);
}
.bg-fo{
  background-color: rgba(74, 187, 199, 0.4);
}
