<footer class="relative flex flex-col justify-between">


  <div class="">
    <%= image_tag 'divers/footer.jpg', class: '' %>
  </div>


  <div class="w-full flex flex-col justify-between absolute top-0 left-0 z-40">

    <div class="container mx-auto flex justify-between px-10 pt-10 pb-5">
      <div class="flex">
        <div class="flex flex-col mr-24">
          <h4 class="bleu-c mont font-bold text-xl mb-3">CONTACT</h4>
          <a class="roboto text-white text-md hover:font-medium" href="#">About us</a>
        </div>
        <div class="flex flex-col">
          <h4 class="bleu-c mont font-bold text-xl mb-3">NAVIGATE</h4>
          <a class="roboto text-white text-md hover:font-medium" href="#">Home</a>
          <a class="roboto text-white text-md hover:font-medium" href="#">Spots de surf</a>
          <a class="roboto text-white text-md hover:font-medium" href="#">FAQ</a>
          <a class="roboto text-white text-md hover:font-medium" href="#">Condition générales</a>
        </div>
      </div>
      <div>
        <p class="mont text-white font-extrabold text-3xl leading-7 text-right mb-10">SURF <br> ON <br> TIME</p>
        <div class="flex justify-end">
          <a href="https://www.instagram.com/" target="_blank" class="h-8 w-8 mr-3">          
            <%= image_tag 'pictos/instagram.svg', class: " h-full w-full" %>
          </a>
          <a href="https://www.facebook.com/" target="_blank" class="h-8 w-8">
            <%= image_tag 'pictos/facebook.svg', class: " h-full w-full" %>
          </a>
        </div>
      </div>
    </div>


    <div class="container mx-auto flex items-center justify-center text-xs font-light px-10 pb-3">
      <p class="roboto text-light text-white text-xs">SURF ON TIME © 2020</p>
    </div>

  </div>


</footer>
