<nav class="container mx-auto flex justify-end">
  <div class="flex p-10">
    <a class="mont flex items-center justify-center text-white h-10 w-24 font-normal hover:font-medium" href="#">Sign in</a>
    <a class="mont sign-up bc-bleu-f flex items-center justify-center text-white rounded-md h-10 w-24  font-normal" href="#">Sign up</a>
  </div>
</nav>
