<div class="nav-container">
  <nav class="container mx-auto">
    <div class="flex justify-between p-10">
      <%= link_to root_path do %>
      <p class="mont text-white font-extrabold text-3xl leading-7" href="#">SURF <br> ON <br> TIME</p>
      <% end %>
      <div class="flex">
        <a class="mont flex items-center justify-center text-white h-10 w-24 font-normal hover:font-medium" href="#">Sign in</a>
        <a class="btn mont bc-bleu flex items-center justify-center text-white border-white border-2 rounded-md h-10 w-24 font-normal hover:font-medium" href="#">Sign up</a>
      </div>
    </div>
  </nav>
</div>
